/* static/css/styles.css */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
}

button:hover {
    background-color: #45a049;
}


.welcome-container {
    text-align: center;
    margin-top: 50px;
}
.btn-logout {
    background-color: #dc3545;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
